<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="../../public/css/dist/style.css">
    <link rel="stylesheet" href="../../public/css/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../../public/css/fontawesome-free-6.2.0-web/css/all.min.css">
    <link rel="stylesheet" href="../../public/css/popupstyle.css">
    <link rel="stylesheet" href="../../public/css/style-switcher.css">

    <link rel="stylesheet" href="../../Public/css/theme/bleu.css" class="alternate-style" title="bleu" disabled>
    <link rel="stylesheet" href="../../Public/css/theme/emit.css" class="alternate-style" title="emit" enable>
    <link rel="stylesheet" href="../../public/css/theme/orange.css" class="alternate-style" title="orange" disabled>
    <link rel="stylesheet" href="../../public/css/theme/rose.css" class="alternate-style" title="rose" disabled>
    <link rel="stylesheet" href="../../public/css/theme/rouge.css" class="alternate-style" title="rouge" disabled>
    <link rel="stylesheet" href="../../public/css/theme/vert.css" class="alternate-style" title="vert" disabled>

    <!-- app JS -->
    <script src="../../Public/js/app.js" defer></script>
    <script src="../../Public/js/scriptswitcher.js" defer></script>


    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

<body>
    <div class="absolute left-1/2 -translate-x-1/2 bg-green-500 text-white w-2/4 " id="inscriconfirmed">
        <div class="p-4">
            <p class="text-center font-bold  text-white">Inscription reussi</p>
        </div>
       
    </div>

    <div class="absolute top-14  left-1/2 -translate-x-1/2 bg-orange-500 text-white w-2/4 " id="inscrierrorconfirmed">
        <div class="p-4">
            <p class="text-center font-bold  text-white">vous avez oublier de tout remplir</p>
        </div>
    
    </div>

        <div class="absolute top-36  left-1/2 -translate-x-1/2 bg-red-500 text-white w-2/4 " id="inscriredeondconfirmed">
            <div class="p-4">
                <p class="text-center font-bold  text-white">vous avez inscrit un etudiant deja existant dans notre base de donner</p>
            </div>
        
        </div>
</body>